@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

.hamburger-line {
  width: 24px;
  height: 2px;
  margin: 0;
}

.hamburger-active > span:nth-child(1) {
  transform: rotate(45deg);
}

.hamburger-active > span:nth-child(2) {
  transform: scale(0);
}

.hamburger-active > span:nth-child(3) {
  transform: rotate(-45deg);
}